table {
  width: 100%;
  border-collapse: collapse; 
  margin: 20px 0;
  font-family: sans-serif;
  min-width: 400px;
}

th {
  background-color: #009879; 
  color: #ffffff;            
  text-align: left;
  font-weight: bold;
}

th, td {
  padding: 12px 15px;       
  border-bottom: 1px solid #dddddd; 
}
tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

tbody tr:hover {
  background-color: #f1f1f1;
}
